fastapi
uvicorn[standard]
python-multipart
redis
sentence-transformers
chromadb
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langchain-text-splitters
unstructured
docx2txt
openpyxl
python-pptx
beautifulsoup4
markdown
python-dotenv
requests
pydantic
PyPDF2
transformers
torch
